

@font-face {
  font-family: "Roboto Slab";
  src: local("Roboto Slab Light"), local("RobotoSlab-Light"),
     url("../fonts/Robotoslablight.woff2") format("woff2"),
     url("../fonts/Robotoslablight.woff") format("woff"),
     url("../fonts/Robotoslablight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Slab";
  src: local("Roboto Slab Regular"), local("RobotoSlab-Regular"),
     url("../fonts/Robotoslabregular.woff2") format("woff2"),
     url("../fonts/Robotoslabregular.woff") format("woff"),
     url("../fonts/Robotoslabregular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Slab";
  src: local("Roboto Slab SemiBold"), local("RobotoSlab-SemiBold"),
     url("../fonts/Robotoslabsemibold.woff2") format("woff2"),
     url("../fonts/Robotoslabsemibold.woff") format("woff"),
     url("../fonts/Robotoslabsemibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Slab";
  src: local("Roboto Slab Thin"), local("RobotoSlab-Thin"),
     url("../fonts/Robotoslabthin.woff2") format("woff2"),
     url("../fonts/Robotoslabthin.woff") format("woff"),
     url("../fonts/Robotoslabthin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Slab";
  src: local("Roboto Slab ExtraBold"), local("RobotoSlab-ExtraBold"),
     url("../fonts/Robotoslabextrabold.woff2") format("woff2"),
     url("../fonts/Robotoslabextrabold.woff") format("woff"),
     url("../fonts/Robotoslabextrabold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Slab";
  src: local("Roboto Slab Black"), local("RobotoSlab-Black"),
     url("../fonts/Robotoslabblack.woff2") format("woff2"),
     url("../fonts/Robotoslabblack.woff") format("woff"),
     url("../fonts/Robotoslabblack.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Slab";
  src: local("Roboto Slab Medium"), local("RobotoSlab-Medium"),
     url("../fonts/Robotoslabmedium.woff2") format("woff2"),
     url("../fonts/Robotoslabmedium.woff") format("woff"),
     url("../fonts/Robotoslabmedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Slab";
  src: local("Roboto Slab ExtraLight"), local("RobotoSlab-ExtraLight"),
     url("../fonts/Robotoslabextralight.woff2") format("woff2"),
     url("../fonts/Robotoslabextralight.woff") format("woff"),
     url("../fonts/Robotoslabextralight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Slab";
  src: local("Roboto Slab Bold"), local("RobotoSlab-Bold"),
     url("../fonts/Robotoslabbold.woff2") format("woff2"),
     url("../fonts/Robotoslabbold.woff") format("woff"),
     url("../fonts/Robotoslabbold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
